{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <br><br>
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
  <p><a href="{% url 'delete_account' %}">Delete Account</a></p>

<!DOCTYPE html>
<html lang="en">
<body class="home_page">

<h1></h1>
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        Get Workspace:
        <input type="submit" id="getworkspace">
    </form>
    <form action="{% url 'destroy_all' %}" method="post">
        {% csrf_token %}
        Destroy All Workspaces:
        <input type="submit" id="destroyworkspace">
    </form>
            {% for launch in launches %}
                {% if launch.user == user.username %}
                    <p>{{ launch.user }}: Click <a href="" target="popup" onclick="window.open('https://3.85.44.32{{launch.launch_url }}','popup','width=600,height=600'); return false;">here</a> to launch</p>
                {% endif %}
            {% endfor %}
            {% for error in errors %}
                <p>{{ error.text }}</p>
            {% endfor %}
</body>
</html>

{% else %}
    <br><br><br>
  <p>You are not logged in</p>
  <a class="button1" href="{% url 'login' %}">Log In</a>
  <br><br>
  <a class="button1" href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}