{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Launcher/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <head><style>
        body{text-align: center;}
        h1{text-align: center;}
        h2{text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        style= "font-family: 'Verdana'"
        }
        h3{text-align: center;}
        p{text-align: center;}
    </style></head>
</head>
<body>

<h1>Welcome</h1>

    <form action="{% url 'destroy' %}" method="post">
        {% csrf_token %}
        Destroy Workspace:
        <input type="submit">
    </form>
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        Get Workspace:
        <input type="submit">
    </form>
    <form >
        <p>Click <a href="" target="popup" onclick="window.open('https://3.85.44.32{{launch.launch_url }}','popup','width=600,height=600'); return false;">here</a> to launch</p>
    </form>

</body>
</html>