<!-- https://www.reddit.com/r/webdev/comments/cjfmg8/django_deleting_user_accounts/ -->

{% extends 'base.html' %}

{% block content %}
    <h2>Delete User Account</h2>
    <form method=post>
        {% csrf_token %}
        <p>Are you sure you want to delete your account?  This will permanently delete your profile and any content you have generated.</p>
        {{ form }}
        <p><button type="submit">Delete Account</button></p>
        <p><a href="{% url 'home' %}">Cancel</a></p>

    </form>
{% endblock %}