{% block title %}LoginForm{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <h2>Log In Correct</h2>
    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
            {% csrf_token %}
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="login-group">
                <label class="login-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username"  placeholder="Username">
                </div>
            </div>
            <div class="login-group">
                <label class="login-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div class="login-group">
                <div class="buttons">
                    <button type="submit" class="btn">Login</button>
                    <button type="text" class="btn">Create Account</button>
                </div>
            </div>
            <div class="login-group">
                <p>Click <a href="" target="popup" onclick="window.open('https://3.85.44.32{{launch.launch_url }}','popup','width=600,height=600'); return false;">here</a> to launch</p>
            </div>
        </form>
    </div>
</div>
{% endblock %}