<head>
    <!-- <title>Text alignment</title> -->
    <style>
        h1{text-align: center;}
        h2{text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        style= "font-family: 'Verdana'"
        }
        h3<text-align: center;>
    </style>
</head>
<body>
<h1> Login Form </h1>
        <!--{% block title %}LoginForm{% end-block %}-->
    <link rel="stylesheet" type="text/css" href="{% static 'login_page/style.css' %}">

    <!--{% block main %}
        Log In Correct
        <div class="row justify-content-center"> -->
        <div id="login">
            <!--<h2> <form class="form-horizontal" name="LoginForm" action="/login/" method="post"></h2>-->
                <!--{% csrf_token %}
                {% if next %}-->
            <h2><input type="hidden" name="next" value="{{ next }}" /> </h2>
                <!--{% endif %}-->
                <div class="login-group">
                    <h2><label class="login-label" for="username">Username</label></h2>
                    <div class="controls">
                        <h2><input type="text" id="username" name="username"  placeholder="Username"></h2>
                    </div>
                </div>
                <div class="login-group">
                    <h2><label class="login-label" for="password">Password</label></h2>
                    <div class="controls">
                        <h2><input type="password" name="password" id="password" placeholder="Password"></h2>
                    </div>
                </div>
                <div class="login-group">
                    <div class="buttons">
                        <h2> <button type="submit" class="btn">Login</button>
                            <button type="submit" class="btn">Create Account</button></h2>
                    </div>
                </div>
                <div class="login-group">
                    <h2>Click <a href="" target="popup" onclick="window.open('https://3.85.44.32{{launch.launch_url }}','popup','width=600,height=600'); return false;">here</a> to launch</h2>
                </div>
        </div>
</body>
<!--{% end-block %}-->
